name: Docker Image CI

on:
  push:
    branches: [ "main", "dev", "sec"]
  pull_request:
    branches: [ "main", "dev", "sec"]

env:
  GOPRIVATE: "github.com/opensourceways"

jobs:
  build:
    runs-on: self-ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Build the Docker image
        run: |
          docker build --file Dockerfile \
            --build-arg USER=${{ secrets.ZYK_USER_NAME }} \
            --build-arg PASS=${{ secrets.ZYK_PERSONAL_TOKEN }} \
            --tag server:$(date +%s) .

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        env:
          GITHUB_AUTHENTICATION_TOKEN: ${{ secrets.ZYK_PERSONAL_TOKEN }}
        with:
          args: ./...

      - name: golangci-lint
        uses: golangci/golangci-lint-action@master
        with:
          # Require: The version of golangci-lint to use.
          # When `install-mode` is `binary` (default) the value can be v1.2 or v1.2.3 or `latest` to use the latest version.
          # When `install-mode` is `goinstall` the value can be v1.2.3, `latest`, or the hash of a commit.
          version: latest
          # Optional: golangci-lint command line arguments.
          #
          # Note: By default, the `.golangci.yml` file should be at the root of the repository.
          # The location of the configuration file can be changed by using `--config=`
          args: -v --config=.golangci.yml --max-same-issues=0 --exclude=docs/

      - name: cleanup
        run: rm -f ~/.netrc
